.main-containter {
  flex: 0 0 auto;
  width: auto;
}

.navbar-toggler:focus {
  /* Remove the shadow effect */
  border: 0 !important;
  box-shadow: none !important;   
}

.navbar-toggler {
  /* Remove border from the icon */
   border: 0 !important;
}

.sidebar-nav {
  width: 100vw;
}

/* Desktop only */
@media screen and (min-width: 1000px) {
  .main-containter {
    flex: 1 0 0%;
    width: auto;
  }

  .page-container {
    max-width: 1800px;
  }

  .sidebar-nav {
    width: 260px;
  }
}
